.genres-page {
  min-height: 100vh;
  padding: 130px 8% 80px;
  background: #0b0b0f;
  color: #fff;
}

.genres-hero {
  margin-bottom: 50px;
}

.genres-label {
  color: #d4af37;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 4px;
}

.genres-hero h1 {
  margin: 10px 0;
  font-size: 60px;
}

.genres-hero p:last-child {
  color: #777;
}

.genres-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.genre-card {
  min-height: 130px;
  padding: 25px;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  background: #111116;
  border: 1px solid #24242d;
  border-radius: 14px;

  color: #fff;
  cursor: pointer;

  transition: 0.3s;
}

.genre-card span {
  font-size: 18px;
  font-weight: 600;
}

.genre-card b {
  color: #d4af37;
  font-size: 22px;
}

.genre-card:hover {
  transform: translateY(-5px);
  background: #15151c;
  border-color: #555;
}

@media (max-width: 900px) {
  .genres-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .genres-grid {
    grid-template-columns: 1fr;
  }

  .genres-hero h1 {
    font-size: 42px;
  }
}